appdirs
apturl
autopep8
bcrypt
blinker
brlapi
cart
chardet
click
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distlib
distro
distro-info
django-cart
django-cors-headers
django-crispy-forms
django-filter
django-heroku
django-rest-framework
django-shopping-cart
drf-extra-fields
duplicity
entrypoints
fasteners
filelock
gunicorn
importlib-metadata
language-selector
launchpadlib
lockfile
louis
macaroonbakery
mako
markupsafe
monotonic
more-itertools
netifaces
oauthlib
olefile
paramiko
pexpect
pip-chill
protobuf
pycups
pygobject
pyjwt
pymacaroons
pynacl
pyrfc3339
python-apt
python-dateutil
python-debian
pyxdg
pyyaml
qrcode
requests
requests-unixsocket
simplejson
systemd-python
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
usb-creator
virtualenv
xhtml2pdf
xkit
zipp
